.pure-g {
    margin-left: 10px;
    margin-bottom: -30px;
}

#bar_chart {
    margin-left: -300px;
    font-size: 10;
}

#choropleth_map {
    margin-left: 30px;
    margin-top: 20px;

}

#bubble_chart {
    margin-top: 40px;
}

#stacked_bar {
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.image-with-text {
    display: flex; 
    align-items: center; 
    text-align: justify;
    margin-right: 30px;
}


.text-container {
    flex-grow: 1;
  }
  
.image-with-text .text-container p {
    margin: 0;
    padding: 10px; 
    font-family: 'Times New Roman', Times, serif;
}

.image-with-text .text-container h1 {
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;

}

.stack {
    margin-left: 50px;
}

.stack p {
    font-size: 18px;
}
