.pure-g {
    margin-left: 10px;
    margin-bottom: -30px;
}

#bar_chart {
    font-size: 10;
    margin-top: 20px;
    margin-right: -350px;
    position: inherit;
}

#choropleth_map {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: -45px;
    position: inherit;

}

#bubble_chart {
    position: inherit;
    margin-right: -45px;
}

#stacked_bar {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: -30px;
    position: inherit;
}

.image-with-text {
    display: flex; 
    align-items: center; 
    text-align: justify;
    margin-right: 30px;
}


.text-container {
    flex-grow: 1;
  }
  
.image-with-text .text-container p {
    margin: 0;
    padding: 10px; 
    font-family: sans-serif;
}

.image-with-text .text-container h1 {
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: inline;
    padding-left: 15%;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    padding-left: 2%;
}
