.pure-g {
    margin-left: 10px;
    margin-bottom: -30px;
}

#bar_chart {
    margin-left: -300px;
    font-size: 10;
}

#choropleth_map {
    margin-left: 30px;
    margin-top: 20px;

}

#bubble_chart {
    margin-top: 40px;
}

#stacked_bar {
    margin-left: 120px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.image-with-text {
    display: flex; /* Use flexbox to arrange elements side by side */
    align-items: center; /* Vertically center items */
    text-align: justify;
    margin-right: 30px;
}


.text-container {
    flex-grow: 1; /* Allow the text container to grow and take up available space */
  }
  
  /* You can adjust the margin and padding as needed */
  .text-container p {
    margin: 0;
    padding: 10px; /* Add padding to the paragraphs for spacing */
  }

.text-container h1 {
    margin-left: 10px;
}
